@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* background-color: #eef1f6; */
  background-color: #ffffff;
  color: #111111;
}

header {
  height: 60px;
}

footer {
  padding: 20px 30px;
  background-color: #284b7e;

  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

li {
  text-decoration: dotted !important;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
