@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* background-color: #eef1f6; */
  background-color: #ffffff;
  color: #111111;
}

header {
  height: 60px;
}

footer {
  padding: 20px 30px;
  background-color: #284b7e;

  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
